.title {
  text-align: center;
  margin: 1rem 0;
  color: #ffda45;
}

.title code {
  font-size: inherit;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.choices {
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 350px;
}

.snippet {
  padding: 1.45rem;
}

.choice {
  width: 325px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 1.5rem;
  border: 2px solid rgb(77, 87, 97);
  border-radius: 20px;
  min-height: 60px;
  cursor: pointer;
  backface-visibility: hidden;
  position: relative;
}

.choice:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: linear-gradient(to right, rgb(255, 81, 47), rgb(221, 36, 118));
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: -1;
}

.choice:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: linear-gradient(to right, rgb(86, 171, 47), rgb(168, 224, 99));
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: -1;
}

.wrong.choice:before {
  opacity: 1;
}

.correct.choice:after {
  opacity: 1;
}

.choice > input {
  display: none;
}

.choiceLabel {
  display: flex;
  width: 100%;
}


.choiceHTML {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 10px;
  font-size: medium;
  font-weight: 500;
  color: #fffffb;
}

.choiceHTML > p {
  margin: 0;
}

.choiceHTML > p code {
  background: rgba(184, 184, 209, 0.04);
}

.choiceKey {
  font-weight: 800;
  font-size: 20px;
  margin-right: 5px;
}

.explanation {
  padding: 0 1rem;
  max-width: 600px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  height: 0;
}

.showExplanation.explanation {
  visibility: visible;
  opacity: 1;
  height: 100%;
  transition: 0.3s ease-in-out;
}

.link {
  color: #fffffb;
}