.title {
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.choices {
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.choice {
  width: 350px;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  border-radius: 16px;
  background: #ecf0f3;
  box-shadow:
    4px 4px 4px 0px #d1d9e6 inset,
    -4px -4px 4px 0px #ffffff inset;
}

.state {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 1e-5;
  pointer-events: none;
}

.choiceLabel {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: #323454;
}

.text {
  margin-left: 16px;
  opacity: .6;
  transition: opacity .2s linear, transform .2s ease-out;
}

.indicator {
  position: relative;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  box-shadow:
    -8px -4px 8px 0px #ffffff,
    8px 4px 12px 0px #d1d9e6;
  overflow: hidden;
}

.indicator::before,
.indicator::after {
  content: '';
  position: absolute;
  top: 10%;
  left: 10%;
  height: 80%;
  width: 80%;
  border-radius: 50%;
}

.indicator::before {
  box-shadow:
    -4px -2px 4px 0px #d1d9e6,
    4px 2px 8px 0px #fff;
}

.indicator::after {
  background-color: #ecf0f3;
  box-shadow:
    -4px -2px 4px 0px #fff,
    4px 2px 8px 0px #d1d9e6;
  transform: scale3d(1, 1, 1);
  transition: opacity .25s ease-in-out, transform .25s ease-in-out;
}


.state:checked ~ .choiceLabel .indicator::after {
  transform: scale3d(.975, .975, 1) translate3d(0, 10%, 0);
  opacity: 0;
}


.state:checked ~ .choiceLabel .text {
  color: #323454;
  opacity: 1;
}

.state:focus ~ .choiceLabel .text {
  transform: translate3d(8px, 0, 0);
  opacity: 1;
}

.choiceLabel:hover .text {
  opacity: 1;
}

.choiceHTML > p {
  display: inline;
}

.choiceHTML > p code{
  background-color: transparent;
}

.choiceKey {
  font-weight: 800;
  font-size: 20px;
  margin-right: 5px;
}